<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{recipients}">
    <div class="panel panel-default">
        <table class="table table-striped table-hover mb-0">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th><f:translate key="{lll}recipient.categories"/></th>
                <th><f:translate key="{lll}recipient.htmlFormat"/></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{recipients}" as="recipient">
                <tr>
                    <td class="col-icon nowrap" style="width: 1%">
                        <f:if condition="{icon}">
                            {icon -> f:format.raw()}
                        </f:if>
                    </td>
                    <td class="col-title col-responsive nowrap">
                        <f:if condition="{recipient.uid} && {allowEdit}">
                            <f:then>
                                <be:link.editRecord uid="{recipient.uid}" table="{table}" title="{f:translate(key: '{lll}general.button.edit')}">
                                    {recipient.name}
                                </be:link.editRecord>
                            </f:then>
                            <f:else>
                                {recipient.name}
                            </f:else>
                        </f:if>
                    </td>
                    <td class="nowrap">
                        <f:link.email email="{recipient.email}"/>
                    </td>
                    <td class="nowrap">
                        <f:if condition="{recipient.categories -> f:count() > 0}">
                        <f:then>
                            <f:for each="{recipient.categories}" as="category" iteration="categoryIterator">
                                {category.title}
                                <f:if condition="!{categoryIterator.isLast}">, </f:if>
                            </f:for>
                        </f:then>
                        <f:else>
                            {recipient.categories}
                        </f:else>
                    </f:if>
                    </td>
                    <td class="nowrap text-center">
                        <f:if condition="{recipient.mail_html} || {recipient.mailHtml}">
                            <f:then><core:icon identifier="actions-check-square" /></f:then>
                            <f:else><core:icon identifier="actions-check-markstate" /></f:else>
                        </f:if>
                    </td>
                    <td class="col-control nowrap">
                        <f:if condition="{recipient.uid} && {allowEdit}">
                            <be:link.editRecord class="btn btn-default" uid="{recipient.uid}" table="{table}" title="{f:translate(key: '{lll}general.button.edit')}">
                                <core:icon identifier="actions-open"/>
                            </be:link.editRecord>
                        </f:if>
                        <f:if condition="{editCsvList}">
                            <be:link.editRecord class="btn btn-default" uid="{editCsvList}" table="{table}" fields="list,mail_html,categories" title="{f:translate(key: '{lll}general.button.edit')}">
                                <core:icon identifier="actions-open"/>
                            </be:link.editRecord>
                        </f:if>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</f:if>
</html>
