<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
    <h1><f:translate key="{lll}recipient.import.header"/></h1>
    <f:render partial="Wizard/Steps" arguments="{navigation: navigation}"/>
    <f:if condition="{data.tables -> f:count()}">
        <f:for each="{data.tables}" as="table">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th colspan="3">{table.header}</th>
                </tr>
                </thead>
                <tbody>
                <f:if condition="{table.rows -> f:count()}">
                    <f:for each="{table.rows}" as="row" iteration="iterator">
                        <tr>
                            <td>{iterator.cycle}</td>
                            <td>{row.val}</td>
                            <td>{row.email}</td>
                        </tr>
                    </f:for>
                </f:if>
                </tbody>
            </table>
        </f:for>
    </f:if>
    <f:link.action action="csvImportWizardStepMapping" class="btn btn-default text-uppercase">
        <f:translate key="{lll}general.button.back"/>
    </f:link.action>
</f:section>
</html>
