<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
    <f:variable name="llg" value="LLL:EXT:core/Resources/Private/Language/locallang_general.xlf:"/>
    <h1>
        <f:translate key="{lll}recipient.header"/>
    </h1>
    <f:render partial="Recipient/Groups" arguments="{_all}" />
</f:section>

</html>
