<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="mb-3">
    <label for="charset" class="form-label">
        <f:translate key="{lll}configuration.charset"/><f:render partial="Help" arguments="{messages: '{0: \'{lll}configuration.charset.description\'}'}"/>
    </label>
    <f:form.select id="charset" name="pageTS[charset]" value="{configuration.charset}"
                   class="form-select form-control-adapt">
        <f:for each="{charsets}" as="charset">
            <f:form.select.option value="{charset}"
                                  selected="{f:if(condition: '{charset -> f:format.case(mode:\'lower\')} == {configuration.charset -> f:format.case(mode:\'lower\')}', then: 1, else: 0)}">
                {charset}
            </f:form.select.option>
        </f:for>
    </f:form.select>
</div>

</html>
