<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="form-check mb-3">
    <f:form.checkbox id="clickTracking" class="form-check-input" name="pageTS[clickTracking]" value="1" checked="{configuration.clickTracking} == 1"/>
    <label for="clickTracking" class="form-check-label">
        <f:translate key="{lll}configuration.linksAndTracking.clickTracking"/>
        <f:render partial="Help" arguments="{messages: '{0: \'{lll}configuration.linksAndTracking.clickTracking.description\'}'}"/>
    </label>
</div>
<div class="form-check mb-3">
    <f:form.checkbox id="trackingPrivacy" class="form-check-input" name="pageTS[trackingPrivacy]" value="1" checked="{configuration.trackingPrivacy} == 1"/>
    <label for="trackingPrivacy" class="form-check-label">
        <f:translate key="{lll}configuration.trackingPrivacy"/>
        <f:render partial="Help" arguments="{messages: '{0: \'{lll}configuration.trackingPrivacy.description\'}'}"/>
    </label>
</div>
<div class="form-check mb-3">
    <f:form.checkbox id="clickTrackingMailTo" class="form-check-input" name="pageTS[clickTrackingMailTo]" value="1" checked="{configuration.clickTrackingMailTo} == 1"/>
    <label for="clickTrackingMailTo" class="form-check-label">
        <f:translate key="{lll}configuration.linksAndTracking.clickTracking.mailTo"/>
        <f:render partial="Help" arguments="{messages: '{0: \'{lll}configuration.linksAndTracking.clickTracking.mailTo.description\'}'}"/>
    </label>
</div>

</html>
