<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="panel panel-default">
    <div class="table-fit">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{recipients}" as="recipient">
                <tr>
                    <td class="col-icon nowrap" style="width: 1%">
                        <core:iconForRecord row="{uid: recipient.uid}" table="{recipientSource}" size="small"/>
                    </td>
                    <td class="nowrap">
                        <be:link.editRecord uid="{recipient.uid}" table="{recipientSource}"
                                            title="{f:translate(key: '{lll}general.button.edit')}">
                            {recipient.name}
                        </be:link.editRecord>
                    </td>
                    <td class="nowrap">
                        {recipient.email}
                    </td>
                    <td class="col-control nowrap">
                        <be:link.editRecord class="btn btn-default" uid="{recipient.uid}" table="{recipientSource}"
                                            title="{f:translate(key: '{lll}general.button.edit')}">
                            <core:icon identifier="actions-open"/>
                        </be:link.editRecord>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</div>
</html>
