<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<h2>
    <f:translate key="{lll}report.deliveryFailed"/>
</h2>
<div class="panel panel-default mb-3">
    <div class="table-fit">
        <table class="table table-striped table-hover">
            <tbody>
            <tr>
                <th class="nowrap">
                    <f:translate key="{lll}report.total.returned"/>
                </th>
                <td class="col-title col-responsive text-end">
                    <span class="badge rounded-pill bg-mail-theme pb-1">{data.total}</span>
                </td>
                <td class="col-control nowrap">
                    <f:if condition="{data.total}">
                        <div class="btn-group">
                            <f:link.action action="showTotalReturned" arguments="{mail: mail.uid}"
                                           class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.returned')}">
                                <core:icon identifier="actions-system-list-open" size="small"/>
                            </f:link.action>
                            <f:link.action action="disableTotalReturned" arguments="{mail: mail.uid}"
                                           class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.disable.returned')}">
                                <core:icon identifier="actions-lock" size="small"/>
                            </f:link.action>
                            <f:link.action action="csvExportTotalReturned" arguments="{mail: mail.uid}"
                                           class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.csvReturned')}">
                                <core:icon identifier="actions-document-export-csv" size="small"/>
                            </f:link.action>
                        </div>
                    </f:if>
                </td>
            </tr>
            <tr>
                <th class="nowrap">
                    <f:translate key="{lll}report.recipientUnknown"/>
                </th>
                <td class="col-title col-responsive text-end">
                    <span class="badge rounded-pill bg-mail-theme pb-1">{data.unknown}</span>
                </td>
                <td class="col-control nowrap">
                    <f:if condition="{data.unknown}">
                        <div class="btn-group">
                            <f:link.action action="showUnknown" arguments="{mail: mail.uid}" class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.returned.unknownRecipient')}">
                                <core:icon identifier="actions-system-list-open" size="small"/>
                            </f:link.action>
                            <f:link.action action="disableUnknown" arguments="{mail: mail.uid}" class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.disable.returned.unknownRecipient')}">
                                <core:icon identifier="actions-lock" size="small"/>
                            </f:link.action>
                            <f:link.action action="csvExportUnknown" arguments="{mail: mail.uid}"
                                           class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.csvReturned.unknownRecipient')}">
                                <core:icon identifier="actions-document-export-csv" size="small"/>
                            </f:link.action>
                        </div>
                    </f:if>
                </td>
            </tr>
            <tr>
                <th class="nowrap">
                    <f:translate key="{lll}report.mailboxFull"/>
                </th>
                <td class="col-title col-responsive text-end">
                    <span class="badge rounded-pill bg-mail-theme pb-1">{data.full}</span>
                </td>
                <td class="col-control nowrap">
                    <f:if condition="{data.full}">
                        <div class="btn-group">
                            <f:link.action action="showFull" arguments="{mail: mail.uid}" class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.returned.mailboxFull')}">
                                <core:icon identifier="actions-system-list-open" size="small"/>
                            </f:link.action>
                            <f:link.action action="disableFull" arguments="{mail: mail.uid}" class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.disable.returned.mailboxFull')}">
                                <core:icon identifier="actions-lock" size="small"/>
                            </f:link.action>
                            <f:link.action action="csvExportFull" arguments="{mail: mail.uid}" class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.csvReturned.mailboxFull')}">
                                <core:icon identifier="actions-document-export-csv" size="small"/>
                            </f:link.action>
                        </div>
                    </f:if>
                </td>
            </tr>
            <tr>
                <th class="nowrap">
                    <f:translate key="{lll}report.badHost"/>
                </th>
                <td class="col-title col-responsive text-end">
                    <span class="badge rounded-pill bg-mail-theme pb-1">{data.badHost}</span>
                </td>
                <td class="col-control nowrap">
                    <f:if condition="{data.badHost}">
                        <div class="btn-group">
                            <f:link.action action="showBadHost" arguments="{mail: mail.uid}" class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.returned.badHost')}">
                                <core:icon identifier="actions-system-list-open" size="small"/>
                            </f:link.action>
                            <f:link.action action="disableBadHost" arguments="{mail: mail.uid}" class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.disable.returned.badHost')}">
                                <core:icon identifier="actions-lock" size="small"/>
                            </f:link.action>
                            <f:link.action action="csvExportBadHost" arguments="{mail: mail.uid}"
                                           class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.csvReturned.badHost')}">
                                <core:icon identifier="actions-document-export-csv" size="small"/>
                            </f:link.action>
                        </div>
                    </f:if>
                </td>
            </tr>
            <tr>
                <th class="nowrap">
                    <f:translate key="{lll}report.headerError"/>
                </th>
                <td class="col-title col-responsive text-end">
                    <span class="badge rounded-pill bg-mail-theme pb-1">{data.headerError}</span>
                </td>
                <td class="col-control nowrap">
                    <f:if condition="{data.headerError}">
                        <div class="btn-group">
                            <f:link.action action="showBadHeader" arguments="{mail: mail.uid}" class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.returned.badHeader')}">
                                <core:icon identifier="actions-system-list-open" size="small"/>
                            </f:link.action>
                            <f:link.action action="disableBadHeader" arguments="{mail: mail.uid}"
                                           class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.disable.returned.badHeader')}">
                                <core:icon identifier="actions-lock" size="small"/>
                            </f:link.action>
                            <f:link.action action="csvExportBadHeader" arguments="{mail: mail.uid}"
                                           class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.csvReturned.badHeader')}">
                                <core:icon identifier="actions-document-export-csv" size="small"/>
                            </f:link.action>
                        </div>
                    </f:if>
                </td>
            </tr>
            <tr>
                <th class="nowrap">
                    <f:translate key="{lll}report.reasonUnknown"/>
                </th>
                <td class="col-title col-responsive text-end">
                    <span class="badge rounded-pill bg-mail-theme pb-1">{data.reasonUnknown}</span>
                </td>
                <td class="col-control nowrap">
                    <f:if condition="{data.reasonUnknown}">
                        <div class="btn-group">
                            <f:link.action action="showReasonUnknown" arguments="{mail: mail.uid}"
                                           class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.returned.reasonUnknown')}">
                                <core:icon identifier="actions-system-list-open" size="small"/>
                            </f:link.action>
                            <f:link.action action="disableReasonUnknown" arguments="{mail: mail.uid}"
                                           class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.disable.returned.reasonUnknown')}">
                                <core:icon identifier="actions-lock" size="small"/>
                            </f:link.action>
                            <f:link.action action="csvExportReasonUnknown" arguments="{mail: mail.uid}"
                                           class="btn btn-default"
                                           title="{f:translate(key: '{lll}report.report.csvReturned.reasonUnknown')}">
                                <core:icon identifier="actions-document-export-csv" size="small"/>
                            </f:link.action>
                        </div>
                    </f:if>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</html>
