<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	  xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
	<f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
	<h1>
		<f:translate key="{lll}mail.wizard.title"/>
		:
		<f:translate key="{lll}mail.wizard.settings"/>
	</h1>
	<f:render partial="Wizard/Steps" arguments="{navigation: navigation}"/>
	<div class="mail-wizard-settings">
		<div class="row justify-content-start">
			<div class="col-12 col-md-10 col-lg-8 col-xl-6">
				<f:render partial="Settings" arguments="{_all}" />
			</div>
		</div>
		<div class="row justify-content-start">
			<div class="col-12 col-md-10 col-lg-8 col-xl-6">
				<f:if condition="{mail.htmlContent} && {mail.plainContent}">
					<f:then>
						<div role="tabpanel">
							<ul class="nav nav-tabs t3js-tabs" role="tablist" id="preview-tabs-tab" data-store-last-tab="1">
								<f:render partial="Tabs" section="tabSelector" arguments="{tabId:'tab-mail-html',title:'HTML',active:1}"/>
								<f:render partial="Tabs" section="tabSelector" arguments="{tabId:'tab-mail-text',title:'Text',active:0}"/>
							</ul>
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="tab-mail-html">
									<div class="panel panel-tab">
										<div class="panel-body mail-wizard-preview">
											<div class="mail-wizard-preview-body" id="mail-wizard-preview-body">
												{mail.htmlContent -> mail:getBodyContent()}
											</div>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="tab-mail-text">
									<div class="panel panel-tab">
										<div class="panel-body">
											<pre>{mail.plainContent -> mail:removeMailBoundaries()}</pre>
										</div>
									</div>
								</div>
							</div>
						</div>
					</f:then>
					<f:else>
						<div class="mail-wizard-preview panel panel-default mb-2">
							<div class="mail-wizard-preview-body" id="mail-wizard-preview-body">
								<f:if condition="{mail.plainContent}">
									<pre class="p-4">{mail.plainContent -> mail:removeMailBoundaries()}</pre>
								</f:if>
								<f:if condition="{mail.htmlContent}">
									{mail.htmlContent -> mail:getBodyContent()}
								</f:if>
							</div>
						</div>
					</f:else>
				</f:if>
				<f:if condition="{mail.htmlContent}">
					<f:if condition="{mail.page}">
						<f:variable name="mailReturnPath" ><f:uri.action   action="updateContent"  arguments="{mail:mail.uid}"/></f:variable>
						<a class="btn btn-default" href="{be:moduleLink(route:'web_layout', arguments:'{id: mail.page, mailReturnPath:mailReturnPath}')}" title="{f:translate(key: '{lll}general.button.edit')}">
							<core:icon identifier="app-pagetree-mail" overlay="actions-open"/>
						</a>
					</f:if>
					<f:link.action class="btn btn-default" title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.reload')}"
								   action="updateContent"
								   controller="Mail" arguments="{mail: mail.uid}">
						<core:icon identifier="actions-refresh"/>
					</f:link.action>
				</f:if>
			</div>
		</div>
		<f:render partial="Wizard/Navigation"
				  arguments="{mail:mail.uid, previousAction: navigation.previousAction, nextAction: navigation.nextAction, lll:lll}"/>
	</div>
</f:section>
</html>
